:root {
    overflow-x: hidden;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.gallery img {
    max-width: 100%;
}

@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: auto;
    }
}
