/* @import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Work+Sans:400,600&display=swap');
:root {
    font-family: "Work Sans", monospace;
    /* font-size: 14pt; */
    font-size: 5.5mm;
    font-weight: 400;
}

b {font-weight: 600;}
a {text-decoration: underline dotted;color: gray;}
a:hover {color: blue;}
.work-header {
    text-align: left;
    /* display: inline-block; */
    padding-left: 1.2em;
    /* padding-bottom: 1em; */
    /* padding: 0; */
    margin: 0;
}
.work-header p {
    display: inline-block;
    /* padding-bottom: 1em; */
}
.work-header a {/* text-decoration: none; */}
.work-header a b {text-decoration: underline solid;color:initial;}
.work-header a:hover {color: #555;}
.work-header-inner {
    text-align: left;
    display: inline-block;
}

.work-container {
    text-align: center;
    margin: auto auto;
    border: none;
    padding: 0;
    /* display: inline-block; */
}

.work-container p {
    /* text-align: left; */
    max-width: 400pt;
    margin: auto;
    padding-left: 30vw;
    padding-right: 10vw;
    padding-top: 1em;
    font-family: "Source Sans Pro", sans-serif;
    text-align: justify;
    text-align-last: left;
    text-justify: inter-character;
    line-height: 1.5;    
}

.work-container p b {
    font-family: monospace;
    line-height: 2;
}

.video {
    text-align: left;
    --max-height: 68vh;
    max-width: calc(var(--max-height) * (16/9));
    max-height: var(--max-height);
    --width: calc(100vw - 1em);
    width: var(--width);
    height: calc(var(--width) * (9/16));
}


.webpage {
    padding: 0;
    margin: 0;
    border: none;
    display: inline-block;
    /* padding-left: 1.2em; */
    /* width: calc(100vw - 1.65em); */
    /* height: calc(99.6% - 4.8em); */
    width: calc(100vw - 3.3em);
    height: calc(99.6% - 5.3em);
}
.webpage-w-note {
    padding: 0;
    margin: 0;
    /* border: 1px dotted  black; */
    border: none;
    display: inline-block;
    width: calc(100vw - 3.3em);
    height: calc(99.6% - 5.3em);
}

.note {
    font-size: 11pt;
    color: #111;
    display: block;
    padding: 0;
    margin: auto;
    padding-right: 1.6em;
    text-align: right;
}
.note a {color: #333;}
.note a:hover {color: blue;}
.note a:active {color: #999;}

/* @media (max-width: 940px) { */
/*     .work-container p { */
/*         padding-left: 20vw; */
/*     } */
/* } */
/* @media (max-width: 570px) { */
/*     .work-container p { */
/*         font-size: 12pt; */
/*     } */
/* } */
/* @media (max-width: 500px) { */
/*     .work-container p { */
/*         max-width: 100%; */
/*         padding-left: 10vw; */
/*     } */
/* } */

/* @media (max-width: 600pt) { */
/*     .video { */
/*         width: calc(100vw - 1em); */
/*         height: calc((100vw - 1em) * (9/16)); */
/*     } */
/*     .webpage { */
/*         width: calc(100vw - 2em); */
/*         height: calc(99.6% - 4.4em); */
/*     } */
/*     .webpage-w-note { */
/*         width: calc(100vw - 2em); */
/*         height: calc(99.6% - 5.1em); */
/*     } */
/*     .note { */
/*         padding-right: .7em; */
/*     } */
/* } */

/* @media (max-width: 420pt) { */
/*     .webpage { */
/*         width: 100%; */
/*         height: calc(100% - 4em); */
/*     } */
/*     .webpage-w-note { */
/*         width: 100%; */
/*         height: calc(100% - 5em); */
/*     } */
/*     .note { */
/*         padding-right: 0; */
/*     } */
/*     .work-container p { */
/*         padding-left: 1vw; */
/*         padding-right: 1vw; */
/*     } */
/* } */

@media only screen and (max-aspect-ratio: 1/1) {
    .work-header {
        padding: 0;
        margin: 0.5em;
        font-size: 8mm;
    }
    .work-container {
        /* display: inline; */
    }
    .video {
        width: calc(100vw - 1em);
        height: calc((100vw-1em) * (9/16));
    }
    .work-container p {
        font-size: 7mm;
        text-justify: inter-word;
        max-width: 70vw;
    }
    .webpage {
        width: 100%;
    }
}
