:root {
    overflow: hidden;
}
a {color: black;text-decoration: underline solid;}
@media (max-width: 600pt) {
    .work-header {
        padding-bottom: 0;
    }
}

@media (max-width: 420pt) {
    .work-header {
        font-size: 13pt;
    }
    .work-container {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
}
